<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    _This_ Splurty was built by <a target="_blank" href="http://github.com/zacjones93">Zac Jones</a>. Zac is a Web Developer who is currently learning rails!
  </p>
  <br />

  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'flowers.jpg', class: 'img-fluid' %>
    </div>
  
    <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Zac</h2>
        <br />
        <p>
          👈 That's a picture of him in Tulips.

           Zac works at egghead.io helping keep the content and videos as fresh as possible in the ever changing world of JavaScript. In addition to this, he works with instructors to create bite-sized, laser focused lessons on the latest techniques in the industry!
        </p>
      </div>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
